*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(img/grace-kang-MbzbYxspcGc-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    text-decoration: underline;
    color: rgb(91, 219, 248);
}

.menu-items ul {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 1.8vw  8.4vw;
    color: white;
    font-size: 20px;
}

section{
    background-color: rgb(240, 215, 215);
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

 h2{
     text-align: center;
     font-size: 50px;
     padding: 20px;
     display: flex;
    justify-content: center;
    align-items: center;
 }

.middle_ {
    display: flex;
}  
/* 
  .milieu {
    height: 80vh;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
 } */


 /* Partie 3 Solution de prix */

.prix_section {
    height: 70vh;
    background-color: rgb(237, 159, 236);
    background: radial-gradient(50% 50% at 50% 50%, rgba(239, 239, 239, 0.1) 0%, rgba(72, 57, 112, 0.1) 100%);
}

/* .prix2_section{
    /* display: flex; */






/* Footer */

footer{
    padding: 70px 0 30px 0;
}

footer, h2{
    margin-bottom: 20px;
}

.form {
    padding: 14px 52px;
    color: white;
    font-size: 24px;
    background-color: var(--btn color);
    border-radius: 47px;
    border: none;
    margin-top: 38px;
    text-transform: uppercase;
    font-weight: bold;
}
